In [7]:
import pandas as pd

foodFile = pd.read_csv('Resources/CSVs/all_food.csv')

foodFile

,Restaurant,Food_Name,Nutrients,Calories
0,Subway,Cheese Pizza,"[{'value': 28, 'attr_id': 203}, {'value': 23, ...",720
1,Subway,Sausage Pizza,"[{'value': 35, 'attr_id': 203}, {'value': 35, ...",860
2,Subway,Meatball Pizza,"[{'value': 37, 'attr_id': 203}, {'value': 33, ...",860
3,Subway,Pepperoni Pizza,"[{'value': 35, 'attr_id': 203}, {'value': 33, ...",840
4,Subway,Bacon Pizza,"[{'value': 37, 'attr_id': 203}, {'value': 31, ...",840
...,...,...,...,...
2782,La Salsa Fresh Mexican Grill,"Overstuffed Grilled Burrito, Steak","[{'value': 66, 'attr_id': 203}, {'value': 66, ...",1290
2783,La Salsa Fresh Mexican Grill,Side of Chips for Burritos,"[{'value': 3, 'attr_id': 203}, {'value': 10, '...",200
2784,La Salsa Fresh Mexican Grill,California Burrito with Pinto Beans,"[{'value': 27, 'attr_id': 203}, {'value': 29, ...",690
2785,La Salsa Fresh Mexican Grill,California Burrito with Black Beans,"[{'value': 28, 'attr_id': 203}, {'value': 29, ...",710
2786,La Salsa Fresh Mexican Grill,Bean & Cheese Burrito with Black Beans,"[{'value': 48, 'attr_id': 203}, {'value': 48, ...",1100

In [8]:

restaurantsList = []

for i in range(len(foodFile)):

    if foodFile['Restaurant'].value_counts()[foodFile.loc[i,'Restaurant']] > 10:
        if foodFile.loc[i,'Restaurant'] not in restaurantsList:
            restaurantsList.append(foodFile.loc[i,'Restaurant'])

restaurantsList

['Subway',
 "Auntie Anne's",
 "Schlotzsky's",
 "Gatti's Pizza",
 "Papa John's",
 'Little Caesars Pizza',
 'Taco Bell',
 "Domino's",
 'Pizza Hut',
 "Chili's",
 "Doubledave's Pizzaworks",
 "Johnny Carino's",
 'Dairy Queen',
 'Mod Pizza',
 "CiCi's Pizza",
 "Applebee's",
 'Peter Piper Pizza',
 "Romano's Macaroni Grill",
 "Papa Murphy's",
 'Which Wich',
 'La Madeleine',
 'Golden Corral',
 "Joe's Crab Shack",
 'Blaze Pizza',
 "Larry's Giant Subs",
 'California Pizza Kitchen',
 'Einstein Bros. Bagels',
 'Redbrick Pizza',
 "Arby's",
 'Buca Di Beppo',
 'Cheesecake Factory',
 "Newk's Eatery",
 'Olive Garden',
 "Chuck E. Cheese's",
 "BJ's Restaurants",
 "McAlister's Deli",
 'Extreme Pizza',
 "Denny's",
 'Burger King',
 'Jack in the Box',
 "Wendy's",
 'Sonic',
 "McDonald's",
 'Whataburger',
 'LongHorn Steakhouse',
 'Texas Roadhouse',
 "TGI Friday's",
 "Carl's Jr",
 'Perkins Restaurant And Bakery',
 'Buffalo Wild Wings',
 'BurgerFi',
 'Five Guys',
 "Cheddar's Scratch Kitchen",
 "Chuy's",
 'In-N-Out Burger',
 'Hooters',
 'Fogo De Chao Churrascaria',
 'The Capital Grille',
 'Wings To Go',
 'IHOP',
 "Mimi's Cafe",
 'Shake Shack',
 'Starbucks',
 'Tropical Smoothie Cafe',
 'KFC',
 "Jersey Mike's Subs",
 'Chick-fil-A',
 'Bill Miller Bar-B-Q',
 "Rosa's Cafe",
 'Taco Bueno',
 'Firehouse Subs',
 "Culver's",
 'Panera Bread',
 "Jimmy John's",
 "Quizno's",
 'Freebirds World Burrito',
 'Pollo Tropical',
 "Uncle Julio's",
 'Pei Wei Asian Diner',
 "Zoe's Kitchen",
 'Corner Bakery Cafe',
 'Salata',
 'La Salsa Fresh Mexican Grill',
 'HoneyBaked Ham',
 'Saladworks',
 "Maggiano's Little Italy",
 'Frullati Cafe & Bakery',
 'Jamba Juice',
 'Baskin Robbins',
 "Nature's Table",
 'Smoothie King']

In [9]:
len(restaurantsList)

91

In [10]:
count = 0
for i in restaurantsList:
    if count > 0:
        allMenu = allMenu.append(foodFile[foodFile['Restaurant'] == i])
    else:
        allMenu = foodFile[foodFile['Restaurant'] == i]
    
    count += 1

In [11]:
allMenu

,Restaurant,Food_Name,Nutrients,Calories
0,Subway,Cheese Pizza,"[{'value': 28, 'attr_id': 203}, {'value': 23, ...",720
1,Subway,Sausage Pizza,"[{'value': 35, 'attr_id': 203}, {'value': 35, ...",860
2,Subway,Meatball Pizza,"[{'value': 37, 'attr_id': 203}, {'value': 33, ...",860
3,Subway,Pepperoni Pizza,"[{'value': 35, 'attr_id': 203}, {'value': 33, ...",840
4,Subway,Bacon Pizza,"[{'value': 37, 'attr_id': 203}, {'value': 31, ...",840
...,...,...,...,...
2572,Smoothie King,Lean1 Strawberry Smoothie,"[{'value': 20, 'attr_id': 203}, {'value': 6, '...",280
2573,Smoothie King,Passion Passport Smoothie,"[{'value': 1, 'attr_id': 203}, {'value': 0, 'a...",400
2574,Smoothie King,Berry Punch Smoothie,"[{'value': 0, 'attr_id': 203}, {'value': 0, 'a...",360
2575,Smoothie King,Hearty Apple Smoothie,"[{'value': 9, 'attr_id': 203}, {'value': 1, 'a...",410
2576,Smoothie King,Lean1 Vanilla Smoothie,"[{'value': 22, 'attr_id': 203}, {'value': 10, ...",270

In [12]:
allMenu.to_csv("Resources/CSVs/all_menu_items.csv", index=False, header=True)