In [1]:
#dependencies
import pandas as pd

In [2]:
all_food_csv = "Resources/all_food.csv"
all_food_df = pd.read_csv(all_food_csv)
all_food_df

,Restaurant,Food_Name,Nutrients,Calories
0,Subway,Cheese Pizza,"[{'value': 28, 'attr_id': 203}, {'value': 23, ...",720
1,Subway,Sausage Pizza,"[{'value': 35, 'attr_id': 203}, {'value': 35, ...",860
2,Subway,Meatball Pizza,"[{'value': 37, 'attr_id': 203}, {'value': 33, ...",860
3,Subway,Pepperoni Pizza,"[{'value': 35, 'attr_id': 203}, {'value': 33, ...",840
4,Subway,Bacon Pizza,"[{'value': 37, 'attr_id': 203}, {'value': 31, ...",840
...,...,...,...,...
2782,La Salsa Fresh Mexican Grill,"Overstuffed Grilled Burrito, Steak","[{'value': 66, 'attr_id': 203}, {'value': 66, ...",1290
2783,La Salsa Fresh Mexican Grill,Side of Chips for Burritos,"[{'value': 3, 'attr_id': 203}, {'value': 10, '...",200
2784,La Salsa Fresh Mexican Grill,California Burrito with Pinto Beans,"[{'value': 27, 'attr_id': 203}, {'value': 29, ...",690
2785,La Salsa Fresh Mexican Grill,California Burrito with Black Beans,"[{'value': 28, 'attr_id': 203}, {'value': 29, ...",710
2786,La Salsa Fresh Mexican Grill,Bean & Cheese Burrito with Black Beans,"[{'value': 48, 'attr_id': 203}, {'value': 48, ...",1100

In [3]:
#getting paneras menu items out of all_food_df
#set restaurant as index
panerabread_df = all_food_df.set_index('Restaurant')
#located needed restaurant
panerabread_df = panerabread_df.loc[["Panera Bread"]]
#set index to food name
panerabread_df = panerabread_df.set_index("Food_Name")
#search for 7 items we need
panerabread_df = panerabread_df.loc[["Caesar Salad with Chicken, Whole",
                                     "Mediterranean Veggie Sandwich on Tomato Basil, Whole",
                                     "Napa Almond Chicken Salad Sandwich on Country Rustic, Whole",
                                     "Fuji Apple Salad with Chicken, Whole",
                                    "Modern Greek Salad with Quinoa, Whole",
                                    "Bacon Turkey Bravo Sandwich on Tomato Basil, Whole",
                                    "Green Passion Smoothie"]]
#put 7 items into dataframe and reset index
panerabread_items_df = panerabread_df.reset_index()
#added restaurant column back
panerabread_items_df['Restaurant'] = 'Panera Bread'
#set the index back to restaurant
panerabread_items_df = panerabread_items_df.set_index("Restaurant")
panerabread_items_df

,Food_Name,Nutrients,Calories
Restaurant,,,
Panera Bread,"Caesar Salad with Chicken, Whole","[{'value': 35, 'attr_id': 203}, {'value': 27, ...",450
Panera Bread,"Mediterranean Veggie Sandwich on Tomato Basil,...","[{'value': 18, 'attr_id': 203}, {'value': 13, ...",440
Panera Bread,Napa Almond Chicken Salad Sandwich on Country ...,"[{'value': 28, 'attr_id': 203}, {'value': 32, ...",630
Panera Bread,"Fuji Apple Salad with Chicken, Whole","[{'value': 33, 'attr_id': 203}, {'value': 35, ...",570
Panera Bread,"Modern Greek Salad with Quinoa, Whole","[{'value': 12, 'attr_id': 203}, {'value': 43, ...",530
Panera Bread,"Bacon Turkey Bravo Sandwich on Tomato Basil, W...","[{'value': 46, 'attr_id': 203}, {'value': 24, ...",630
Panera Bread,Green Passion Smoothie,"[{'value': 2, 'attr_id': 203}, {'value': 0, 'a...",200

In [4]:
#getting restaurant items out of all_food_df
#set restaurant as index
smoothie_king_df = all_food_df.set_index('Restaurant')
#located needed restaurant
smoothie_king_df = smoothie_king_df.loc[["Smoothie King"]]
#set index to food name
smoothie_king_df = smoothie_king_df.set_index("Food_Name")
#search for 7 items we need
smoothie_king_df = smoothie_king_df.loc[["Lean1 Chocolate Smoothie",
                                     "Gladiator Smoothie",
                                     "Lean1 Strawberry Smoothie",
                                     "Berry Punch Smoothie",
                                    "Lean1 Vanilla Smoothie",
                                    "Immune Builder Smoothie",
                                    "Blueberry Heaven Smoothie"]]
#put 7 items into dataframe and reset index
smoothie_king_items_df = smoothie_king_df.reset_index()
#added restaurant column back
smoothie_king_items_df["Restaurant"] = 'Smoothie King'
#set the index back to restaurant
smoothie_king_items_df = smoothie_king_items_df.set_index("Restaurant")
smoothie_king_items_df

,Food_Name,Nutrients,Calories
Restaurant,,,
Smoothie King,Lean1 Chocolate Smoothie,"[{'value': 22, 'attr_id': 203}, {'value': 11, ...",290
Smoothie King,Gladiator Smoothie,"[{'value': 45, 'attr_id': 203}, {'value': 0, '...",180
Smoothie King,Lean1 Strawberry Smoothie,"[{'value': 20, 'attr_id': 203}, {'value': 6, '...",280
Smoothie King,Berry Punch Smoothie,"[{'value': 0, 'attr_id': 203}, {'value': 0, 'a...",360
Smoothie King,Lean1 Vanilla Smoothie,"[{'value': 22, 'attr_id': 203}, {'value': 10, ...",270
Smoothie King,Immune Builder Smoothie,"[{'value': 5, 'attr_id': 203}, {'value': 1, 'a...",380
Smoothie King,Blueberry Heaven Smoothie,"[{'value': 7, 'attr_id': 203}, {'value': 1, 'a...",330

In [5]:
#getting restaurant items out of all_food_df
#set restaurant as index
jamba_juice_df = all_food_df.set_index('Restaurant')
#located needed restaurant
jamba_juice_df = jamba_juice_df.loc[["Jamba Juice"]]
#set index to food name
jamba_juice_df = jamba_juice_df.set_index("Food_Name")
#search for 7 items we need
jamba_juice_df = jamba_juice_df.loc[["Razzmatazz Smoothie, Medium",
                                     "Chili Mango Smoothie, Medium",
                                     "Pomegranate Paradise Smoothie, Medium",
                                     "Aloha Pineapple Smoothie, Medium",
                                    "Watermelon Breeze Smoothie, Medium",
                                    "Strawberries Wild Smoothie, Medium",
                                    "Strawberry Whirl Smoothie, Medium"]]
#put 7 items into dataframe and reset index
jamba_juice_items_df = jamba_juice_df.reset_index()
#added restaurant column back
jamba_juice_items_df["Restaurant"] = 'Jamba Juice'
#set the index back to restaurant
jamba_juice_items_df = jamba_juice_items_df.set_index("Restaurant")
jamba_juice_items_df

,Food_Name,Nutrients,Calories
Restaurant,,,
Jamba Juice,"Razzmatazz Smoothie, Medium","[{'value': 3, 'attr_id': 203}, {'value': 1.5, ...",390
Jamba Juice,"Chili Mango Smoothie, Medium","[{'value': 3, 'attr_id': 203}, {'value': 2, 'a...",410
Jamba Juice,"Pomegranate Paradise Smoothie, Medium","[{'value': 2, 'attr_id': 203}, {'value': 0.5, ...",360
Jamba Juice,"Aloha Pineapple Smoothie, Medium","[{'value': 8, 'attr_id': 203}, {'value': 1.5, ...",410
Jamba Juice,"Watermelon Breeze Smoothie, Medium","[{'value': 3, 'attr_id': 203}, {'value': 1.5, ...",420
Jamba Juice,"Strawberries Wild Smoothie, Medium","[{'value': 5, 'attr_id': 203}, {'value': 0, 'a...",370
Jamba Juice,"Strawberry Whirl Smoothie, Medium","[{'value': 2, 'attr_id': 203}, {'value': 0.5, ...",310

In [6]:
#getting restaurant items out of all_food_df
#set restaurant as index
mcalisters_deli_df = all_food_df.set_index('Restaurant')
#located needed restaurant
mcalisters_deli_df = mcalisters_deli_df.loc[["McAlister's Deli"]]
#set index to food name
mcalisters_deli_df = mcalisters_deli_df.set_index("Food_Name")
#search for 7 items we need
mcalisters_deli_df = mcalisters_deli_df.loc[["Garden Salad",
                                    "Grilled Chicken Sandwich",
                                    "Savannah Chopped Salad",
                                    "Italian Chopped Salad",
                                    "Garden Fresh Turkey Sandwich",
                                    "French Onion Chicken Sandwich",
                                    "Southwest Chicken & Avocado Salad"]]
#put 7 items into dataframe and reset index
mcalisters_deli_items_df = mcalisters_deli_df.reset_index()
#added restaurant column back
mcalisters_deli_items_df["Restaurant"] = "McAlister's Deli"
#set the index back to restaurant
mcalisters_deli_items_df = mcalisters_deli_items_df.set_index("Restaurant")
mcalisters_deli_items_df

,Food_Name,Nutrients,Calories
Restaurant,,,
McAlister's Deli,Garden Salad,"[{'value': 18, 'attr_id': 203}, {'value': 19, ...",310
McAlister's Deli,Grilled Chicken Sandwich,"[{'value': 41, 'attr_id': 203}, {'value': 23, ...",560
McAlister's Deli,Savannah Chopped Salad,"[{'value': 40, 'attr_id': 203}, {'value': 16, ...",480
McAlister's Deli,Italian Chopped Salad,"[{'value': 33, 'attr_id': 203}, {'value': 42, ...",570
McAlister's Deli,Garden Fresh Turkey Sandwich,"[{'value': 36, 'attr_id': 203}, {'value': 23, ...",670
McAlister's Deli,French Onion Chicken Sandwich,"[{'value': 50, 'attr_id': 203}, {'value': 34, ...",810
McAlister's Deli,Southwest Chicken & Avocado Salad,"[{'value': 50, 'attr_id': 203}, {'value': 32, ...",630

In [7]:
#getting restaurant items out of all_food_df
#set restaurant as index
saladworks_df = all_food_df.set_index('Restaurant')
#located needed restaurant
saladworks_df = saladworks_df.loc[["Saladworks"]]
#set index to food name
saladworks_df = saladworks_df.set_index("Food_Name")
#search for 7 items we need
saladworks_df = saladworks_df.loc[["Tivoli",
                                    "Sophie's Salad",
                                    "Buffalo Chicken Panini",
                                    "Chicken Caesar",
                                    "Cobb",
                                    "Turkey Melt",
                                    "Mandarin Chicken"]]
#put 7 items into dataframe and reset index
saladworks_items_df = saladworks_df.reset_index()
#added restaurant column back
saladworks_items_df["Restaurant"] = "Saladworks"
#set the index back to restaurant
saladworks_items_df = saladworks_items_df.set_index("Restaurant")
saladworks_items_df

,Food_Name,Nutrients,Calories
Restaurant,,,
Saladworks,Tivoli,"[{'value': 33, 'attr_id': 203}, {'value': 19, ...",430
Saladworks,Sophie's Salad,"[{'value': 12, 'attr_id': 203}, {'value': 14, ...",310
Saladworks,Buffalo Chicken Panini,"[{'value': 43, 'attr_id': 203}, {'value': 29, ...",660
Saladworks,Chicken Caesar,"[{'value': 42, 'attr_id': 203}, {'value': 4, '...",290
Saladworks,Cobb,"[{'value': 23, 'attr_id': 203}, {'value': 16, ...",270
Saladworks,Turkey Melt,"[{'value': 47, 'attr_id': 203}, {'value': 40, ...",800
Saladworks,Mandarin Chicken,"[{'value': 12, 'attr_id': 203}, {'value': 7, '...",230

In [8]:
#combined all dfs into one
all_menu_items = panerabread_items_df.append(smoothie_king_items_df, sort=False)
all_menu_items = all_menu_items.append(jamba_juice_items_df,sort=False) 
all_menu_items = all_menu_items.append(mcalisters_deli_items_df,sort=False) 
all_menu_items = all_menu_items.append(saladworks_items_df,sort=False) 
all_menu_items

,Food_Name,Nutrients,Calories
Restaurant,,,
Panera Bread,"Caesar Salad with Chicken, Whole","[{'value': 35, 'attr_id': 203}, {'value': 27, ...",450
Panera Bread,"Mediterranean Veggie Sandwich on Tomato Basil,...","[{'value': 18, 'attr_id': 203}, {'value': 13, ...",440
Panera Bread,Napa Almond Chicken Salad Sandwich on Country ...,"[{'value': 28, 'attr_id': 203}, {'value': 32, ...",630
Panera Bread,"Fuji Apple Salad with Chicken, Whole","[{'value': 33, 'attr_id': 203}, {'value': 35, ...",570
Panera Bread,"Modern Greek Salad with Quinoa, Whole","[{'value': 12, 'attr_id': 203}, {'value': 43, ...",530
Panera Bread,"Bacon Turkey Bravo Sandwich on Tomato Basil, W...","[{'value': 46, 'attr_id': 203}, {'value': 24, ...",630
Panera Bread,Green Passion Smoothie,"[{'value': 2, 'attr_id': 203}, {'value': 0, 'a...",200
Smoothie King,Lean1 Chocolate Smoothie,"[{'value': 22, 'attr_id': 203}, {'value': 11, ...",290
Smoothie King,Gladiator Smoothie,"[{'value': 45, 'attr_id': 203}, {'value': 0, '...",180
Smoothie King,Lean1 Strawberry Smoothie,"[{'value': 20, 'attr_id': 203}, {'value': 6, '...",280
Smoothie King,Berry Punch Smoothie,"[{'value': 0, 'attr_id': 203}, {'value': 0, 'a...",360
Smoothie King,Lean1 Vanilla Smoothie,"[{'value': 22, 'attr_id': 203}, {'value': 10, ...",270
Smoothie King,Immune Builder Smoothie,"[{'value': 5, 'attr_id': 203}, {'value': 1, 'a...",380
Smoothie King,Blueberry Heaven Smoothie,"[{'value': 7, 'attr_id': 203}, {'value': 1, 'a...",330
Jamba Juice,"Razzmatazz Smoothie, Medium","[{'value': 3, 'attr_id': 203}, {'value': 1.5, ...",390
Jamba Juice,"Chili Mango Smoothie, Medium","[{'value': 3, 'attr_id': 203}, {'value': 2, 'a...",410
Jamba Juice,"Pomegranate Paradise Smoothie, Medium","[{'value': 2, 'attr_id': 203}, {'value': 0.5, ...",360
Jamba Juice,"Aloha Pineapple Smoothie, Medium","[{'value': 8, 'attr_id': 203}, {'value': 1.5, ...",410
Jamba Juice,"Watermelon Breeze Smoothie, Medium","[{'value': 3, 'attr_id': 203}, {'value': 1.5, ...",420
Jamba Juice,"Strawberries Wild Smoothie, Medium","[{'value': 5, 'attr_id': 203}, {'value': 0, 'a...",370
Jamba Juice,"Strawberry Whirl Smoothie, Medium","[{'value': 2, 'attr_id': 203}, {'value': 0.5, ...",310
McAlister's Deli,Garden Salad,"[{'value': 18, 'attr_id': 203}, {'value': 19, ...",310
McAlister's Deli,Grilled Chicken Sandwich,"[{'value': 41, 'attr_id': 203}, {'value': 23, ...",560
McAlister's Deli,Savannah Chopped Salad,"[{'value': 40, 'attr_id': 203}, {'value': 16, ...",480
McAlister's Deli,Italian Chopped Salad,"[{'value': 33, 'attr_id': 203}, {'value': 42, ...",570
McAlister's Deli,Garden Fresh Turkey Sandwich,"[{'value': 36, 'attr_id': 203}, {'value': 23, ...",670
McAlister's Deli,French Onion Chicken Sandwich,"[{'value': 50, 'attr_id': 203}, {'value': 34, ...",810
McAlister's Deli,Southwest Chicken & Avocado Salad,"[{'value': 50, 'attr_id': 203}, {'value': 32, ...",630
Saladworks,Tivoli,"[{'value': 33, 'attr_id': 203}, {'value': 19, ...",430
Saladworks,Sophie's Salad,"[{'value': 12, 'attr_id': 203}, {'value': 14, ...",310
Saladworks,Buffalo Chicken Panini,"[{'value': 43, 'attr_id': 203}, {'value': 29, ...",660
Saladworks,Chicken Caesar,"[{'value': 42, 'attr_id': 203}, {'value': 4, '...",290
Saladworks,Cobb,"[{'value': 23, 'attr_id': 203}, {'value': 16, ...",270
Saladworks,Turkey Melt,"[{'value': 47, 'attr_id': 203}, {'value': 40, ...",800
Saladworks,Mandarin Chicken,"[{'value': 12, 'attr_id': 203}, {'value': 7, '...",230

In [22]:
all_menu_items.to_csv("output/all_menu_items.csv", index=False, header=True)