In [2]:
import pandas as pd

#Make sure to run the NutrientsConverter in the Jupyter Notebook folder to be able to call the DataFrames Stored. 

#DataFrames with the combine info.
%store -r maleInfo

%store -r femaleInfo

%store -r foodFiltered_df

In [3]:

maleInfo[2]

,AGE,Active,Protein (Cal),Carbohydrate (Cal),Fiber (gr),Total Sugar (gr),Total lipid (Cal),Total Trans Fat (Cal),Total Saturated Fat (Cal),Cholesterol (mg),Calcium (mg),Iron (mg),"Sodium, (mg)",Vitamin A (mcg RAE),Vitamin C (mg)
0,14,2800,186.67,513.33,10.27,13.33,280,9.33,93.33,83.33,433.33,5.5,766.67,300,25
1,15,3000,200,550,10.27,13.33,300,10,100,83.33,433.33,5.5,766.67,300,25
2,16,3200,213.33,586.67,10.27,13.33,320,10.67,106.67,83.33,433.33,5.5,766.67,300,25
3,17,3200,213.33,586.67,10.27,13.33,320,10.67,106.67,83.33,433.33,5.5,766.67,300,25
4,18,3200,213.33,586.67,10.27,13.33,320,10.67,106.67,83.33,433.33,5.5,766.67,300,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,72,2600,173.33,476.67,10.27,13.33,260,8.67,86.67,83.33,433.33,5.5,766.67,300,25
59,73,2600,173.33,476.67,10.27,13.33,260,8.67,86.67,83.33,433.33,5.5,766.67,300,25
60,74,2600,173.33,476.67,10.27,13.33,260,8.67,86.67,83.33,433.33,5.5,766.67,300,25
61,75,2600,173.33,476.67,10.27,13.33,260,8.67,86.67,83.33,433.33,5.5,766.67,300,25
62,76,2400,160,440,10.27,13.33,240,8,80,83.33,433.33,5.5,766.67,300,25

In [19]:
Nutrients = ['Protein (Cal)',
             'Carbohydrate (Cal)', 
             'Fiber (gr)',
             'Total Sugar (gr)', 
             'Total lipid (Cal)', 
             'Total Trans Fat (Cal)',
             'Total Saturated Fat (Cal)',
             'Cholesterol (mg)', 
             'Calcium (mg)',
             'Iron (mg)', 
             'Sodium, (mg)', 
             'Vitamin A (mcg RAE)', 
             'Vitamin C (mg)']

for i in range(len(maleInfo)):
    
    analysis_df = maleInfo[i]
    
    analysis_df['Restaurant Points'] = ""
    
    for index, row in analysis_df.iterrows():
        
        restaurantTally_dict = {}
        
        for food in range(len(foodFiltered_df)):
            
            if foodFiltered_df.loc[food,'Restaurant'] not in restaurantTally_dict.keys():
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] = 0
                
            if (foodFiltered_df.loc[food,'Protein (Cal)'] <= row['Protein (Cal)']) :
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Carbohydrate (Cal)'] <= row['Carbohydrate (Cal)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Fiber (gr)'] <= row['Fiber (gr)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Total Sugar (gr)'] <= row['Total Sugar (gr)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Total Fat (Cal)'] <= row['Total lipid (Cal)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Total Trans Fat (Cal)'] <= row['Total Trans Fat (Cal)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Total Saturated Fat (Cal)'] <= row['Total Saturated Fat (Cal)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Cholesterol (mg)'] <= row['Cholesterol (mg)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Calcium (mg)'] <= row['Calcium (mg)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Iron (mg)'] <= row['Iron (mg)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Sodium (mg)'] <= row['Sodium, (mg)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Vitamin A (mcg RAE)'] <= row['Vitamin A (mcg RAE)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Vitamin C (mg)'] <= row['Vitamin C (mg)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1 
                
        row['Restaurant Points'] = restaurantTally_dict
        
    maleInfo[i] = analysis_df

In [20]:
analysis_df

,AGE,Active,Protein (Cal),Carbohydrate (Cal),Fiber (gr),Total Sugar (gr),Total lipid (Cal),Total Trans Fat (Cal),Total Saturated Fat (Cal),Cholesterol (mg),Calcium (mg),Iron (mg),"Sodium, (mg)",Vitamin A (mcg RAE),Vitamin C (mg),Restaurant Points
0,14,2800,186.67,513.33,10.27,13.33,280,9.33,93.33,83.33,433.33,5.5,766.67,300,25,
1,15,3000,200,550,10.27,13.33,300,10,100,83.33,433.33,5.5,766.67,300,25,
2,16,3200,213.33,586.67,10.27,13.33,320,10.67,106.67,83.33,433.33,5.5,766.67,300,25,
3,17,3200,213.33,586.67,10.27,13.33,320,10.67,106.67,83.33,433.33,5.5,766.67,300,25,
4,18,3200,213.33,586.67,10.27,13.33,320,10.67,106.67,83.33,433.33,5.5,766.67,300,25,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,72,2600,173.33,476.67,10.27,13.33,260,8.67,86.67,83.33,433.33,5.5,766.67,300,25,
59,73,2600,173.33,476.67,10.27,13.33,260,8.67,86.67,83.33,433.33,5.5,766.67,300,25,
60,74,2600,173.33,476.67,10.27,13.33,260,8.67,86.67,83.33,433.33,5.5,766.67,300,25,
61,75,2600,173.33,476.67,10.27,13.33,260,8.67,86.67,83.33,433.33,5.5,766.67,300,25,
62,76,2400,160,440,10.27,13.33,240,8,80,83.33,433.33,5.5,766.67,300,25,

In [21]:
maleInfo[1]

,AGE,Moderately active,Protein (Cal),Carbohydrate (Cal),Fiber (gr),Total Sugar (gr),Total lipid (Cal),Total Trans Fat (Cal),Total Saturated Fat (Cal),Cholesterol (mg),Calcium (mg),Iron (mg),"Sodium, (mg)",Vitamin A (mcg RAE),Vitamin C (mg),Restaurant Points
0,14,2400,160,440,10.27,13.33,240,8,80,83.33,433.33,5.5,766.67,300,25,
1,15,2600,173.33,476.67,10.27,13.33,260,8.67,86.67,83.33,433.33,5.5,766.67,300,25,
2,16,2800,186.67,513.33,10.27,13.33,280,9.33,93.33,83.33,433.33,5.5,766.67,300,25,
3,17,2800,186.67,513.33,10.27,13.33,280,9.33,93.33,83.33,433.33,5.5,766.67,300,25,
4,18,2800,186.67,513.33,10.27,13.33,280,9.33,93.33,83.33,433.33,5.5,766.67,300,25,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,72,2200,146.67,403.33,10.27,13.33,220,7.33,73.33,83.33,433.33,5.5,766.67,300,25,
59,73,2200,146.67,403.33,10.27,13.33,220,7.33,73.33,83.33,433.33,5.5,766.67,300,25,
60,74,2200,146.67,403.33,10.27,13.33,220,7.33,73.33,83.33,433.33,5.5,766.67,300,25,
61,75,2200,146.67,403.33,10.27,13.33,220,7.33,73.33,83.33,433.33,5.5,766.67,300,25,
62,76,2200,146.67,403.33,10.27,13.33,220,7.33,73.33,83.33,433.33,5.5,766.67,300,25,