In [68]:
import pandas as pd

#Make sure to run the NutrientsConverter in the Jupyter Notebook folder to be able to call the DataFrames Stored. 
#DataFrames with the combine info.

%store -r maleInfo

%store -r femaleInfo

%store -r foodFiltered_df

In [69]:
maleInfo[2]

,Active,Protein (Cal),Carbohydrate (Cal),Fiber (gr),Total Sugar (Cal),Total lipid (Cal),Total Trans Fat (Cal),Total Saturated Fat (Cal),Cholesterol (mg),Calcium (mg),Iron (mg),"Sodium, (mg)",Vitamin A (mcg RAE),Vitamin C (mg),Calories per Meal
0,2400.0,180.0,420.0,19.0,96.0,240.0,24.0,72.0,100.0,582.5,10.0,460.0,615.0,21.0,800.00
1,2600.0,195.0,455.0,19.0,104.0,260.0,26.0,78.0,100.0,582.5,10.0,460.0,615.0,21.0,866.67
2,2800.0,210.0,490.0,19.0,112.0,280.0,28.0,84.0,100.0,582.5,10.0,460.0,615.0,21.0,933.33
3,3000.0,225.0,525.0,19.0,120.0,300.0,30.0,90.0,100.0,582.5,10.0,460.0,615.0,21.0,1000.00
4,3200.0,240.0,560.0,19.0,128.0,320.0,32.0,96.0,100.0,582.5,10.0,460.0,615.0,21.0,1066.67

In [70]:
#Males --------

#Gives points to each of the restaurants based on parameters for each of the age groups and lifestyles

#Creates a list to store DataFrames
maleMerged_df = []

for i in range(len(maleInfo)): #for 1 to 3

    #Empty list to store dictionaries for each row iteration.
    dictStore_list = [] 

    activityLevel = maleInfo[i].columns[0]
    for index, row in maleInfo[i].iterrows(): #For each index and row in dataframe maleinfo[i]
        
        #Creates empy dictionary for each iteration. 
        restaurantTally_dict = {} 

        for food in range(len(foodFiltered_df)): #for each row in maleinfo[i] iterates through the restaurant data set and gives points to each restaurant based on the parameters.
            
            if foodFiltered_df.loc[food,'Restaurant'] not in restaurantTally_dict.keys():
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] = 0 
            
            goodNutritionCounter = 0
                
            #If food calores is lower than the per meal calculatued total, then analyze.
            if (foodFiltered_df.loc[food,'Calories'] <= row['Calories per Meal']):
                goodNutritionCounter += 1
        
            if  ((row['Protein (Cal)'] - (0.045 * maleInfo[i].loc[index, activityLevel])) <= foodFiltered_df.loc[food,'Protein (Cal)']) & ((row['Protein (Cal)'] + (0.045 * maleInfo[i].loc[index, activityLevel])) >= foodFiltered_df.loc[food,'Protein (Cal)']) : # 
                goodNutritionCounter += 1  

            if  ((row['Carbohydrate (Cal)'] - (0.075 * maleInfo[i].loc[index,activityLevel])) <= foodFiltered_df.loc[food,'Carbohydrate (Cal)']) & ((row['Carbohydrate (Cal)'] + (0.075 * maleInfo[i].loc[index,activityLevel])) >= foodFiltered_df.loc[food,'Carbohydrate (Cal)']): #
                goodNutritionCounter += 1  
                
            if ((row['Fiber (gr)'] + 11) > foodFiltered_df.loc[food,'Fiber (gr)']): #((row['Fiber (gr)'] - 11) <= foodFiltered_df.loc[food,'Fiber (gr)']) & 
                goodNutritionCounter += 1
            

            if (foodFiltered_df.loc[food,'Total Sugar (Cal)'] <= row['Total Sugar (Cal)']):
                goodNutritionCounter += 1

            if  ((row['Total lipid (Cal)'] - (0.2 * maleInfo[i].loc[index,activityLevel])) <= foodFiltered_df.loc[food,'Total Fat (Cal)']) & ((row['Total lipid (Cal)'] + (0.2 * maleInfo[i].loc[index,activityLevel])) >= foodFiltered_df.loc[food,'Total Fat (Cal)']): #
                goodNutritionCounter += 1

            if (foodFiltered_df.loc[food,'Total Trans Fat (Cal)'] < row['Total Trans Fat (Cal)']):
                goodNutritionCounter += 1

            if (foodFiltered_df.loc[food,'Total Saturated Fat (Cal)'] <= row['Total Saturated Fat (Cal)']):
                goodNutritionCounter += 1

            if (foodFiltered_df.loc[food,'Cholesterol (mg)'] < row['Cholesterol (mg)']):
                goodNutritionCounter += 1

            if ((row['Calcium (mg)'] + 252.5)  > foodFiltered_df.loc[food,'Calcium (mg)']): #((row['Calcium (mg)'] - 252.5)  <= foodFiltered_df.loc[food,'Calcium (mg)']) & 
                goodNutritionCounter += 1

            if  ((row['Iron (mg)'] + 5) > foodFiltered_df.loc[food,'Iron (mg)']): #((row['Iron (mg)'] - 5) <= foodFiltered_df.loc[food,'Iron (mg)']) &
                goodNutritionCounter += 1

            if  ((row['Sodium, (mg)'] + 310) > foodFiltered_df.loc[food,'Sodium (mg)']): #((row['Sodium, (mg)'] - 310) <= foodFiltered_df.loc[food,'Sodium (mg)']) &
                goodNutritionCounter += 1
             
            if ((row['Vitamin A (mcg RAE)'] + 615) > foodFiltered_df.loc[food,'Vitamin A (mcg RAE)']): #((row['Vitamin A (mcg RAE)'] - 615) <= foodFiltered_df.loc[food,'Vitamin A (mcg RAE)']) &
                goodNutritionCounter += 1

            if (foodFiltered_df.loc[food,'Vitamin C (mg)'] <= row['Vitamin C (mg)']):
                goodNutritionCounter += 1
            
            if  (goodNutritionCounter == 14): 

                #Only count if the restaruant meets the min conditions or at least 9 combined conditions.
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += (1 / foodFiltered_df['Restaurant'].value_counts()[foodFiltered_df.loc[food,'Restaurant']])
                

        #When code is done iterating the data set, append the dictionary to empty list. 
        dictStore_list.append(restaurantTally_dict)
    
    #When code is done iterating trough the maleinfo[i] dataframe, mergues the maleinfo[i] dataframe and create a dataframe from the dictionary list and append both DataFrames using the index of both DataFrames.
    maleMerged_df.append((pd.merge(maleInfo[i], pd.DataFrame(dictStore_list), left_index = True, right_index = True)))

maleMerged_df[0].head()

,Sedentary,Protein (Cal),Carbohydrate (Cal),Fiber (gr),Total Sugar (Cal),Total lipid (Cal),Total Trans Fat (Cal),Total Saturated Fat (Cal),Cholesterol (mg),Calcium (mg),...,Salata,La Salsa Fresh Mexican Grill,HoneyBaked Ham,Saladworks,Maggiano's Little Italy,Frullati Cafe & Bakery,Jamba Juice,Baskin Robbins,Nature's Table,Smoothie King
0,2000.0,150.0,350.0,19.0,80.0,200.0,20.0,60.0,100.0,582.5,...,0,0,0,0,0,0,0,0,0.076923,0
1,2200.0,165.0,385.0,19.0,88.0,220.0,22.0,66.0,100.0,582.5,...,0,0,0,0,0,0,0,0,0.000000,0
2,2400.0,180.0,420.0,19.0,96.0,240.0,24.0,72.0,100.0,582.5,...,0,0,0,0,0,0,0,0,0.000000,0
3,2600.0,195.0,455.0,19.0,104.0,260.0,26.0,78.0,100.0,582.5,...,0,0,0,0,0,0,0,0,0.000000,0

In [71]:
maleSedentary = {
                0 : '=< 14 and 61 =<',
                1 : '15, 41 to 60',
                2 : '16 to 18, 21 to 40',
                3 : '19 to 20'}

maleModActive = {
                0 : '66 =<',
                1 : '=< 14, 46 to 65',
                2 : '15, 26 to 45',
                3 : '16 to 25'}

maleActive = {
            0 : '76',
            1 : '56 to 76',
            2 : '=< 14, 36 - 55',
            3 : '15, 19 - 35',
            4 : '16 - 18'}

maleLifeStyleGroups = [maleSedentary,maleModActive,maleActive]

In [72]:
#drops empty columns for each dataFrame 
for i in range(len(maleMerged_df)):

    lifeStyleText = ['Sedentary', 'Moderate Active', 'Active']

    #sorts columns based on average
    columnOrder = (maleMerged_df[i].iloc[0,:15].index).to_list() + (maleMerged_df[i].iloc[:,15:].mean().sort_values(ascending = False).index).to_list()
    #Re orders columns
    maleMerged_df[i] = maleMerged_df[i][columnOrder]
    #Drops columns with values =0
    maleMerged_df[i] = maleMerged_df[i].loc[:,(maleMerged_df[i]!= 0).any(axis=0)]
    #Transpose the data.
    maleMerged_dfT = maleMerged_df[i].T.rename(columns =  maleLifeStyleGroups[i])

    #printsCSV
    maleMerged_dfT.to_csv(f'Male {lifeStyleText[i]}.csv')

In [73]:
#Females --------

#Gives points to each of the restaurants based on parameters for each of the age groups and lifestyles

#Creates a list to store DataFrames
femaleMerged_df = []

for i in range(len(femaleInfo)): #for 1 to 3

    #Empty list to store dictionaries for each row iteration.
    dictStore_list = [] 

    activityLevel = maleInfo[i].columns[0]

    for index, row in femaleInfo[i].iterrows(): #For each index and row in dataframe maleinfo[i]
        
        #Creates empy dictionary for each iteration. 
        restaurantTally_dict = {} 

        for food in range(len(foodFiltered_df)): #for each row in maleinfo[i] iterates through the restaurant data set and gives points to each restaurant based on the parameters.
            
            if foodFiltered_df.loc[food,'Restaurant'] not in restaurantTally_dict.keys():
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] = 0 

            goodNutritionCounter = 0

            #If food calores is lower than the per meal calculatued total, then analyze.
            if (foodFiltered_df.loc[food,'Calories'] <= row['Calories per Meal']):
                goodNutritionCounter += 1
        
            if  ((row['Protein (Cal)'] - (0.045 * femaleInfo[i].loc[index, activityLevel])) <= foodFiltered_df.loc[food,'Protein (Cal)']) & ((row['Protein (Cal)'] + (0.045 * femaleInfo[i].loc[index, activityLevel])) >= foodFiltered_df.loc[food,'Protein (Cal)']) : # 
                goodNutritionCounter += 1  

            if  ((row['Carbohydrate (Cal)'] - (0.075 * femaleInfo[i].loc[index,activityLevel])) <= foodFiltered_df.loc[food,'Carbohydrate (Cal)']) & ((row['Carbohydrate (Cal)'] + (0.075 * femaleInfo[i].loc[index,activityLevel])) >= foodFiltered_df.loc[food,'Carbohydrate (Cal)']): #
                goodNutritionCounter += 1  
                
            if ((row['Fiber (gr)'] + 11) > foodFiltered_df.loc[food,'Fiber (gr)']): #((row['Fiber (gr)'] - 11) <= foodFiltered_df.loc[food,'Fiber (gr)']) & 
                goodNutritionCounter += 1
            

            if (foodFiltered_df.loc[food,'Total Sugar (Cal)'] <= row['Total Sugar (Cal)']):
                goodNutritionCounter += 1

            if  ((row['Total lipid (Cal)'] - (0.2 * femaleInfo[i].loc[index,activityLevel])) <= foodFiltered_df.loc[food,'Total Fat (Cal)']) & ((row['Total lipid (Cal)'] + (0.2 * femaleInfo[i].loc[index,activityLevel])) >= foodFiltered_df.loc[food,'Total Fat (Cal)']): #
                goodNutritionCounter += 1

            if (foodFiltered_df.loc[food,'Total Trans Fat (Cal)'] < row['Total Trans Fat (Cal)']):
                goodNutritionCounter += 1

            if (foodFiltered_df.loc[food,'Total Saturated Fat (Cal)'] <= row['Total Saturated Fat (Cal)']):
                goodNutritionCounter += 1

            if (foodFiltered_df.loc[food,'Cholesterol (mg)'] < row['Cholesterol (mg)']):
                goodNutritionCounter += 1

            if ((row['Calcium (mg)'] + 252.5)  > foodFiltered_df.loc[food,'Calcium (mg)']): #((row['Calcium (mg)'] - 252.5)  <= foodFiltered_df.loc[food,'Calcium (mg)']) & 
                goodNutritionCounter += 1

            if  ((row['Iron (mg)'] + 5) > foodFiltered_df.loc[food,'Iron (mg)']): #((row['Iron (mg)'] - 5) <= foodFiltered_df.loc[food,'Iron (mg)']) &
                goodNutritionCounter += 1

            if  ((row['Sodium, (mg)'] + 310) > foodFiltered_df.loc[food,'Sodium (mg)']): #((row['Sodium, (mg)'] - 310) <= foodFiltered_df.loc[food,'Sodium (mg)']) &
                goodNutritionCounter += 1
                #sodiumCheck = True

            if ((row['Vitamin A (mcg RAE)'] + 615) > foodFiltered_df.loc[food,'Vitamin A (mcg RAE)']): #((row['Vitamin A (mcg RAE)'] - 615) <= foodFiltered_df.loc[food,'Vitamin A (mcg RAE)']) &
                goodNutritionCounter += 1

            if (foodFiltered_df.loc[food,'Vitamin C (mg)'] <= row['Vitamin C (mg)']):
                goodNutritionCounter += 1
            
            if  (goodNutritionCounter == 14): 

                #Only count if the restaruant meets all conditions.
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += (1 / foodFiltered_df['Restaurant'].value_counts()[foodFiltered_df.loc[food,'Restaurant']])

        #When code is done iterating the data set, append the dictionary to empty list. 
        dictStore_list.append(restaurantTally_dict)
    
    #When code is done iterating trough the maleinfo[i] dataframe, mergues the maleinfo[i] dataframe and create a dataframe from the dictionary list and append both DataFrames using the index of both DataFrames.
    femaleMerged_df.append((pd.merge(femaleInfo[i], pd.DataFrame(dictStore_list), left_index = True, right_index = True)))


femaleMerged_df[0].head()

,Sedentary,Protein (Cal),Carbohydrate (Cal),Fiber (gr),Total Sugar (Cal),Total lipid (Cal),Total Trans Fat (Cal),Total Saturated Fat (Cal),Cholesterol (mg),Calcium (mg),...,Salata,La Salsa Fresh Mexican Grill,HoneyBaked Ham,Saladworks,Maggiano's Little Italy,Frullati Cafe & Bakery,Jamba Juice,Baskin Robbins,Nature's Table,Smoothie King
0,1600.0,120.0,280.0,19.0,64.0,160.0,16.0,48.0,100.0,582.5,...,0,0,0,0.05,0,0,0,0,0.076923,0
1,1800.0,135.0,315.0,19.0,72.0,180.0,18.0,54.0,100.0,582.5,...,0,0,0,0.00,0,0,0,0,0.076923,0
2,2000.0,150.0,350.0,19.0,80.0,200.0,20.0,60.0,100.0,582.5,...,0,0,0,0.00,0,0,0,0,0.076923,0

In [74]:
femaleSedentary = {
                0 : '51 =<',
                1 : '=< 14 to 18, 26 to 50',
                2 : '19 to 25'}

femaleModActive = {
                0 : '51 =<',
                1 : '=< 14 to 18, 26 to 50',
                2 : '19 to 25'}

femaleActive = {
            0 : '61 =<',
            1 : '31 to 60',
            2 : '=< 14 to 30'}

femaleLifeStyleGroups = [femaleSedentary,femaleModActive,femaleActive]

In [75]:
#drops empty columns for each dataFrame 
for i in range(len(femaleMerged_df)):

    lifeStyleText = ['Sedentary', 'Moderate Active', 'Active']

    #sorts columns based on average
    columnOrder = (femaleMerged_df[i].iloc[0,:15].index).to_list() + (femaleMerged_df[i].iloc[:,15:].mean().sort_values(ascending = False).index).to_list()
    #Re orders columns
    femaleMerged_df[i] = femaleMerged_df[i][columnOrder]
    #Drops columns = 0
    femaleMerged_df[i] = femaleMerged_df[i].loc[:,(femaleMerged_df[i]!= 0).any(axis=0)] 
    #Transpose Data
    femaleMerged_dfT = femaleMerged_df[i].T.rename(columns = femaleLifeStyleGroups[i])
    #printsCSV
    femaleMerged_dfT.to_csv(f'Female {lifeStyleText[i]}.csv')

In [76]:
%store femaleMerged_df

%store maleMerged_df

Stored 'femaleMerged_df' (list)
Stored 'maleMerged_df' (list)