In [24]:
import pandas as pd

#Make sure to run the NutrientsConverter in the Jupyter Notebook folder to be able to call the DataFrames Stored. 

#DataFrames with the combine info.
%store -r maleInfo

%store -r femaleInfo

%store -r foodFiltered_df

In [43]:
maleInfo[0]

,AGE,Sedentary,Protein (Cal),Carbohydrate (Cal),Fiber (gr),Total Sugar (Cal),Total lipid (Cal),Total Trans Fat (Cal),Total Saturated Fat (Cal),Cholesterol (mg),Calcium (mg),Iron (mg),"Sodium, (mg)",Vitamin A (mcg RAE),Vitamin C (mg)
0,14,2000,150,350,19,80,200,20,60,100,582.5,10,460,615,21
1,15,2200,165,385,19,88,220,22,66,100,582.5,10,460,615,21
2,16,2400,180,420,19,96,240,24,72,100,582.5,10,460,615,21
3,17,2400,180,420,19,96,240,24,72,100,582.5,10,460,615,21
4,18,2400,180,420,19,96,240,24,72,100,582.5,10,460,615,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,72,2000,150,350,19,80,200,20,60,100,582.5,10,460,615,21
59,73,2000,150,350,19,80,200,20,60,100,582.5,10,460,615,21
60,74,2000,150,350,19,80,200,20,60,100,582.5,10,460,615,21
61,75,2000,150,350,19,80,200,20,60,100,582.5,10,460,615,21
62,76,2000,150,350,19,80,200,20,60,100,582.5,10,460,615,21

In [44]:
#Males --------

#Gives points to each of the restaurants based on parameters for each of the age groups and lifestyles

#Creates a list to store DataFrames
maleMerged_df = []

for i in range(len(maleInfo)): #for 1 to 3

    #Empty list to store dictionaries for each row iteration.
    dictStore_list = [] 

    for index, row in maleInfo[i].iterrows(): #For each index and row in dataframe maleinfo[i]
        
        #Creates empy dictionary for each iteration. 
        restaurantTally_dict = {} 

        for food in range(len(foodFiltered_df)): #for each row in maleinfo[i] iterates through the restaurant data set and gives points to each restaurant based on the parameters.
            
            if foodFiltered_df.loc[food,'Restaurant'] not in restaurantTally_dict.keys():
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] = 0
                
            if ((row['Protein (Cal)'] - 0.045) <= foodFiltered_df.loc[food,'Protein (Cal)']) & ((row['Protein (Cal)'] + 0.045) >= foodFiltered_df.loc[food,'Protein (Cal)']) :
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if ((row['Carbohydrate (Cal)'] - 0.075) <= foodFiltered_df.loc[food,'Carbohydrate (Cal)']) & ((row['Carbohydrate (Cal)'] + 0.075) >= foodFiltered_df.loc[food,'Carbohydrate (Cal)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if ((row['Fiber (gr)'] - 11) <= foodFiltered_df.loc[food,'Fiber (gr)']) & ((row['Fiber (gr)'] + 11) > foodFiltered_df.loc[food,'Fiber (gr)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Total Sugar (Cal)'] <= row['Total Sugar (Cal)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if ((row['Total lipid (Cal)'] - 2) <= foodFiltered_df.loc[food,'Total Fat (Cal)']) & ((row['Total lipid (Cal)'] + 2) >= foodFiltered_df.loc[food,'Total Fat (Cal)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Total Trans Fat (Cal)'] < row['Total Trans Fat (Cal)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Total Saturated Fat (Cal)'] <= row['Total Saturated Fat (Cal)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Cholesterol (mg)'] < row['Cholesterol (mg)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if ((row['Calcium (mg)'] - 252.5)  <= foodFiltered_df.loc[food,'Calcium (mg)']) & ((row['Calcium (mg)'] + 252.5)  > foodFiltered_df.loc[food,'Calcium (mg)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if ((row['Iron (mg)'] - 5) <= foodFiltered_df.loc[food,'Iron (mg)']) & ((row['Iron (mg)'] + 5) > foodFiltered_df.loc[food,'Iron (mg)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if ((row['Sodium, (mg)'] - 310) <= foodFiltered_df.loc[food,'Sodium (mg)']) & ((row['Sodium, (mg)'] + 310) > foodFiltered_df.loc[food,'Sodium (mg)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if ((row['Vitamin A (mcg RAE)'] - 615) <= foodFiltered_df.loc[food,'Vitamin A (mcg RAE)']) & ((row['Vitamin A (mcg RAE)'] + 615) > foodFiltered_df.loc[food,'Vitamin A (mcg RAE)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Vitamin C (mg)'] <= row['Vitamin C (mg)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1 
            
            #if (foodFiltered_df.loc[food,'Calories'] <= ((row['Sedentary'])/3)):
                #restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

        #When code is done iterating the data set, append the dictionary to empty list. 
        dictStore_list.append(restaurantTally_dict)
    
    #When code is done iterating trough the maleinfo[i] dataframe, mergues the maleinfo[i] dataframe and create a dataframe from the dictionary list and append both DataFrames using the index of both DataFrames.
    maleMerged_df.append(pd.merge(maleInfo[i], pd.DataFrame(dictStore_list), left_index = True, right_index = True))

maleMerged_df[0].head()

,AGE,Sedentary,Protein (Cal),Carbohydrate (Cal),Fiber (gr),Total Sugar (Cal),Total lipid (Cal),Total Trans Fat (Cal),Total Saturated Fat (Cal),Cholesterol (mg),Calcium (mg),Iron (mg),"Sodium, (mg)",Vitamin A (mcg RAE),Vitamin C (mg),Panera Bread,Smoothie King,Jamba Juice,McAlister's Deli,Saladworks
0,14,2000,150,350,19,80,200,20,60,100,582.5,10,460,615,21,37,43,28,36,40
1,15,2200,165,385,19,88,220,22,66,100,582.5,10,460,615,21,40,43,28,37,40
2,16,2400,180,420,19,96,240,24,72,100,582.5,10,460,615,21,40,44,28,37,41
3,17,2400,180,420,19,96,240,24,72,100,582.5,10,460,615,21,40,44,28,37,41
4,18,2400,180,420,19,96,240,24,72,100,582.5,10,460,615,21,40,44,28,37,41

In [45]:
#Females --------

#Gives points to each of the restaurants based on parameters for each of the age groups and lifestyles

#Creates a list to store DataFrames
femaleMerged_df = []

for i in range(len(femaleInfo)): #for 1 to 3

    #Empty list to store dictionaries for each row iteration.
    dictStore_list = [] 

    for index, row in femaleInfo[i].iterrows(): #For each index and row in dataframe maleinfo[i]
        
        #Creates empy dictionary for each iteration. 
        restaurantTally_dict = {} 

        for food in range(len(foodFiltered_df)): #for each row in maleinfo[i] iterates through the restaurant data set and gives points to each restaurant based on the parameters.
            
            if foodFiltered_df.loc[food,'Restaurant'] not in restaurantTally_dict.keys():
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] = 0
                
            if ((row['Protein (Cal)'] - 0.045) <= foodFiltered_df.loc[food,'Protein (Cal)']) & ((row['Protein (Cal)'] + 0.045) >= foodFiltered_df.loc[food,'Protein (Cal)']) :
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if ((row['Carbohydrate (Cal)'] - 0.075) <= foodFiltered_df.loc[food,'Carbohydrate (Cal)']) & ((row['Carbohydrate (Cal)'] + 0.075) >= foodFiltered_df.loc[food,'Carbohydrate (Cal)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if ((row['Fiber (gr)'] - 11) <= foodFiltered_df.loc[food,'Fiber (gr)']) & ((row['Fiber (gr)'] + 11) > foodFiltered_df.loc[food,'Fiber (gr)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Total Sugar (Cal)'] <= row['Total Sugar (Cal)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if ((row['Total lipid (Cal)'] - 2) <= foodFiltered_df.loc[food,'Total Fat (Cal)']) & ((row['Total lipid (Cal)'] + 2) >= foodFiltered_df.loc[food,'Total Fat (Cal)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Total Trans Fat (Cal)'] < row['Total Trans Fat (Cal)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Total Saturated Fat (Cal)'] <= row['Total Saturated Fat (Cal)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Cholesterol (mg)'] < row['Cholesterol (mg)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if ((row['Calcium (mg)'] - 252.5)  <= foodFiltered_df.loc[food,'Calcium (mg)']) & ((row['Calcium (mg)'] + 252.5)  > foodFiltered_df.loc[food,'Calcium (mg)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if ((row['Iron (mg)'] - 5) <= foodFiltered_df.loc[food,'Iron (mg)']) & ((row['Iron (mg)'] + 5) > foodFiltered_df.loc[food,'Iron (mg)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if ((row['Sodium, (mg)'] - 310) <= foodFiltered_df.loc[food,'Sodium (mg)']) & ((row['Sodium, (mg)'] + 310) > foodFiltered_df.loc[food,'Sodium (mg)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if ((row['Vitamin A (mcg RAE)'] - 615) <= foodFiltered_df.loc[food,'Vitamin A (mcg RAE)']) & ((row['Vitamin A (mcg RAE)'] + 615) > foodFiltered_df.loc[food,'Vitamin A (mcg RAE)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Vitamin C (mg)'] <= row['Vitamin C (mg)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1  

        #When code is done iterating the data set, append the dictionary to empty list. 
        dictStore_list.append(restaurantTally_dict)
    
    #When code is done iterating trough the maleinfo[i] dataframe, mergues the maleinfo[i] dataframe and create a dataframe from the dictionary list and append both DataFrames using the index of both DataFrames.
    femaleMerged_df.append(pd.merge(femaleInfo[i], pd.DataFrame(dictStore_list), left_index = True, right_index = True))

femaleMerged_df[0].head()

,AGE,Sedentary,Protein (Cal),Carbohydrate (Cal),Fiber (gr),Total Sugar (Cal),Total lipid (Cal),Total Trans Fat (Cal),Total Saturated Fat (Cal),Cholesterol (mg),Calcium (mg),Iron (mg),"Sodium, (mg)",Vitamin A (mcg RAE),Vitamin C (mg),Panera Bread,Smoothie King,Jamba Juice,McAlister's Deli,Saladworks
0,2,1000,75,175,19,40,100,10,30,100,582.5,10,460,615,21,34,42,28,32,39
1,3,1000,75,175,19,40,100,10,30,100,582.5,10,460,615,21,34,42,28,32,39
2,4,1200,90,210,19,48,120,12,36,100,582.5,10,460,615,21,35,41,28,33,40
3,5,1200,90,210,19,48,120,12,36,100,582.5,10,460,615,21,35,41,28,33,40
4,6,1200,90,210,19,48,120,12,36,100,582.5,10,460,615,21,35,41,28,33,40

In [48]:
test =femaleMerged_df[0]